body {
    display: fixed;
    background-color: rgb(223, 225, 225);
    text-align: center;
    
}

.inputtext {
    width: 300px;
    
}

h1 {
    color: white;
}

div {
    width: 600px;
    background-color: rgb(42, 47, 143, 0.7);
    padding: 20px;
    margin: auto;
    display: block;
    text-align: left;
    justify-content: left;
    margin: 25px auto;
    border-radius: 10px;
}

label {
    text-align: left;
    color: bisque;
    font-weight: bold;
    width: 200px;
    font-size: 18px;
    padding: 10px;
    margin: 10px;
}